body {background-repeat:no-repeat;background-position:top center;border-top:0px solid #000000;}
#header {background-repeat:no-repeat;background-position:top center;margin-top:0px;margin-bottom:0px;padding-top:40px;padding-bottom:30px;border:0px solid ;}
#logo .site-title a {font:normal 40px/1em "Helvetica Neue", Helvetica, sans-serif;color:#222222;}
#logo .site-description {font:italic 14px/1em "Helvetica Neue", Helvetica, sans-serif;color:#999999;}
body, p { font:normal 14px/1.5em "Helvetica Neue", Helvetica, sans-serif;color:#555555; }
h1 { font:normal 28px/1.5em "Helvetica Neue", Helvetica, sans-serif;color:#222222; }h2 { font:normal 24px/1.5em "Helvetica Neue", Helvetica, sans-serif;color:#222222; }h3 { font:normal 20px/1.5em "Helvetica Neue", Helvetica, sans-serif;color:#222222; }h4 { font:normal 16px/1.5em "Helvetica Neue", Helvetica, sans-serif;color:#222222; }h5 { font:normal 14px/1.5em "Helvetica Neue", Helvetica, sans-serif;color:#222222; }h6 { font:normal 12px/1.5em "Helvetica Neue", Helvetica, sans-serif;color:#222222; }
.post .title, .page .title, .post .title a:link, .post .title a:visited, .page .title a:link, .page .title a:visited {font:bold 24px/1.2em "Helvetica Neue", Helvetica, sans-serif;color:#222222;}
.post-meta { font:normal 11px/1.5em "Helvetica Neue", Helvetica, sans-serif;color:#868686; }
.entry, .entry p{ font:normal 16px/1.5em "Helvetica Neue", Helvetica, sans-serif;color:#555555; }
.post-more {font:normal 12px/1.5em "Helvetica Neue", Helvetica, sans-serif;color:#868686;border-top:4px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
#post-author, #connect {border-top:1px solid #e6e6e6;border-bottom:4px solid #e6e6e6;background-color:#fafafa}
.nav-entries, .wp-pagenavi, .woo-pagination {border-top:1px solid #e6e6e6;border-bottom:4px solid #e6e6e6; padding: 12px 0px; }
.nav-entries a, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi .current, .wp-pagenavi .on, .wp-pagenavi a:hover, .wp-pagenavi span.extend, .wp-pagenavi span.pages, .woo-pagination { font:italic 12px/1em "Helvetica Neue", Helvetica, sans-serif;color:#777777; }
.wp-pagenavi a:link, .wp-pagenavi a:visited, .woo-pagination a, .woo-pagination a:hover, .wp-pagenavi span.extend, .wp-pagenavi span.pages, .wp-pagenavi span.current {color:#777777!important}
.widget h3 {font:bold 14px/1.5em Arial, sans-serif;color:#555555;border-bottom:0px solid #e6e6e6;margin-bottom:0;}
.widget_recent_comments li, #twitter li { border-color: #e6e6e6;}
.widget p, .widget .textwidget { font:normal 12px/1.5em Arial, sans-serif;color:#555555; }
.widget {font:normal 12px/1.5em Arial, sans-serif;color:#555555;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
#tabs .inside li a { font:bold 12px/1.5em Georgia, serif;color:#555555; }
#tabs .inside li span.meta, #tabs ul.wooTabs li a { font:normal 11px/1.5em "Trebuchet MS", Tahoma, sans-serif;color:#777777; }
.nav a, #navigation ul.rss a { font:normal 14px/1em Arial, sans-serif;color:#555555; }
#navigation {border-top:1px solid #dbdbdb;border-bottom:4px solid #dbdbdb;border-left:0px solid #dbdbdb;border-right:0px solid #dbdbdb;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
#top .nav a { font:normal 14px/1em Arial, sans-serif;color:#ddd; }
#footer, #footer p { font:italic 14px/1em Georgia, serif;color:#777777; }
#footer {border-top:0px solid #dbdbdb;border-bottom:0px solid ;border-left:0px solid ;border-right:0px solid ;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.magazine #loopedSlider .content h2.title a { font:bold 24px/1em Arial, sans-serif;color:#ffffff; }
.magazine #loopedSlider .content .excerpt p { font:normal 12px/1.5em Arial, sans-serif;color:#cccccc; }
.business #loopedSlider .content h2.title a { font:bold 24px/1em Arial, sans-serif;color:#ffffff; }
.business #loopedSlider .content p { font:normal 12px/1.5em Arial, sans-serif;color:#cccccc; }
.archive_header { font:normal 18px/1em "Helvetica Neue", Helvetica, sans-serif;color:#555555;border-bottom:5px solid #e6e6e6;}

#wlm_counter p.wlm_counter {
    color: #25a9df;
}

#slider-background .woo-sc-button, #slider-background .woo-sc-button.yellow, #slider-background .woo-sc-button.green { 
  border-color: #1068A3;
  background-color: #007FD4;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(.3, #007FD4),color-stop(1, #0A4166)) !important;
  background: -moz-linear-gradient(center top,#007FD4 30%,#0A4166 100%) !important;
  text-shadow: #0A4166 -1px -1px 0;
}

#slider-background .woo-sc-button:hover, #slider-background .woo-sc-button.yellow:hover, #slider-background .woo-sc-button.green:hover { 
  color: #ffffff !important;
  background: #006FBA;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(.3, #006FBA),color-stop(1, #06304C)) !important;
  background: -moz-linear-gradient(center top,#006FBA 30%,#06304C 100%) !important;
}