.indent {margin-left:120px;}
#error_explanation {
  margin-bottom:20px;
  h2 {font-size:16px;}
  ul  { margin: 0 0 15px 0; padding: 0 0 0 30px;
    li  { list-style-type: disc; }
  }
}
.simple_form {
  
  div.input {
    
    .error {font-size:12px;margin-left:10px;color:$red;}
    
    clear:both;
    margin-bottom: 10px;
    &.boolean {margin-left:120px;}
    
    label{cursor:pointer;display:block;float:left;font-weight:700;padding-right:20px;width:100px;
      abbr {display:none;}
    }
   
    input.string, input.file {width:300px;}
    
    input, textarea {
      padding: 5px;
      border-color: #CCC #EFEFEF #EFEFEF #CCC;
      border-width: 1px;
      border-style: solid;
      
    }
    textarea{
      width:400px;
      &.wide {width:1000px;}
    }
  }
}

.block {
  div.input {
    label {float:none;margin-bottom:4px;font-weight:normal;width:auto;}
  }
  p.tiny {width:240px;margin-top:10px;}
}
