$red: #ED1C24;
$orange: #F15A29;
$light-orange: #f5c08e;
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size:14px;
  color: #444;
  line-height:1.4;
}
a {text-decoration:none;color:$orange;
  &:hover {text-decoration:underline;}
}
#wrapper {
  width:990px;
  margin:0 auto;
}
#flash {padding:9px 20px;background:#f7f7f7;}
#header {
  &.admin {padding:10px 0;border-bottom:2px solid #dcdcde;margin-bottom:10px;}
  position:relative;
  @include pie-clearfix;
  #banner {display:block;}
  .nav {
    &.pos {position:absolute;bottom:20px;right:20px;text-align:right;
      a {color:#fff;}
    }
    li {display:block;float:left;
      a {display:block;float:left;margin-right:10px;padding-right:10px;font-weight:bold;text-decoration:none;}
    }
    &.right li a {margin-right:0;padding-right:0;margin-left:10px;padding-left:10px;}
  }
}

#footer {
  border-top:2px solid #dcdcde;margin-top:40px;
  padding: 20px 0;
  @include pie-clearfix;
  .right {
    a {margin-left:12px;}
  }
}

.row {margin-left:-44px;@include pie-clearfix;
  .col {float:left;margin:10px 0 10px 44px;}
  .span4 {width:300px;}
  .span3 {width:210px;}
  h4 {margin:10px 0;line-height:1.2;}
  
}
.speaker {
  img {width:300px;height:300px;display:block;}
  p {font-size:13px;margin-bottom:20px;}
}

.speaker2 {
  img {display:block;float:left;}
  .entry {margin-left:320px;padding:10px 20px;background:#f3f3f3;
  }
}

.bonus {
  &.main {
    margin-bottom:40px;
    img {float:left;border:0;padding:0;}
    h4 {font-size:27px;}
    .entry {margin-left:320px;background:#d8df20;padding:2px 20px 10px 20px;font-size:17px;color:#58595B;height:288px;}
  }
  img {border:1px solid #d8df20;padding:5px;}
  .entry {padding:6px;margin-right:24px;font-size:13px;}
}

img.o {margin-left:10px;margin-top:-5px;}

.box {
  padding:10px;
  margin:10px 0;
  &.grey {background: #f3f3f3;}
  &.orange {background: $light-orange;}
  &.yellow {@include border-radius(10px);background:#fcf8d3;width:750px;font-size:20px;padding:10px 50px;margin:0 auto;font-style:italic;}
  &.blockquote {width:730px;margin:10px auto;}
  .quote {padding:10px;font-size:13px;
  p {margin-bottom:10px;}
  }
}

.product-box {
  width:800px;margin:0px auto;padding:10px 0;
  .title {display:inline-block;background:#fef200;font-size:22px;padding:10px 40px;}
  .entry {font-size:14px;padding:16px 40px;background:#fcf8d3;}
}

.special {
  width:900px;margin:0 auto;padding:20px 0;
  img {width:150px;height:150px;float:left;margin-right:30px;border:1px solid #bbb;}
}

.video {border: 5px solid #dcdcde;display:inline-block;
  iframe {display:block;}
}

.collection {
  border-top:1px solid #ddd;
  .record {padding:8px 0;border-bottom:1px solid #ddd;}
}

.welcome {
  font-size:13px;
  padding:30px 0;
  @include pie-clearfix;
  width:950px;margin:0 auto;
  img {float:left;}
  .content {margin-left:340px;}
}


span.orange, p.orange {color:$orange;}
h2.grey {color:#444;}
h1 {margin:0;padding:0;font-size:40px;color: $orange;}
h2 {margin:0;padding:0;font-size:32px;color: $orange;}
h3 {margin:0;padding:0;font-size:30px;color: $orange;}
h4 {margin:0;padding:0;font-size:20px;color: $orange;}
h5 {margin:0;padding:0;font-size:18px;color: $orange;}
.red {color:$red;}
.black {color:#444;}
.center {text-align:center;}
.big {font-size:20px;}
.small {font-size:12px;}
.tiny {font-size:9px;}
strong {font-weight:bold;}
.clear {clear:both;}
.right {float:right;}
.left {float:left;}


.content {
  h5 {line-height:1.4;margin-bottom:1em;}
  ul  { margin: 0 0 15px 0; padding: 0 0 0 30px;
   li  { list-style-type: disc; }
  }
  p {margin-bottom:1em;}
}

.clearfix {@include pie-clearfix;}


.cntSeparator {
  font-size: 32px;
  margin: 10px 2px;
  color: #000;
}
.desc { margin: 7px 3px; }
.desc div {
  float: left;
  font-family: Arial;
  width: 55px;
  margin-right:20px;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  text-align:right;
}
