<% if @next_event %>
<div class="box clearfix">
  
    <div class="right" style="margin-right:-30px;">
      <%= countdown(@next_event) %>
    </div>
    <h2>Next LIVE Session in:</h2> 
</div>
<div class="clearfix">
    <div style="float:left;">
        <%= embed_event @next_event %>
    </div>
    <div style="float:right;">
        <%= embed_questions @next_event %>
    </div>
</div>
<% else %>
<h2>No events scheduled</h2>
<% end %>

<%= render 'pages/sponsors' %> 