<div class="collection" <%= "data-sort=#{request.path}/sort" if collection.first.respond_to?(:position) %>>
<% collection.each do |record| %>
  <%= div_for record, :class => 'record' do %>
    <%= link_to record.name, edit_resource_path(record) %>
  <% end %>
<% end %>
</div>