<%= link_to "Add", new_resource_path, :class => 'right' %>
<h1><%= resource_class.name.pluralize %></h1>
<% unless collection.empty? %>
<%= render 'collection', :collection => collection %>
<% end %>
