<h2>Our Sponsors</h2>
<% Sponsor.all.each do |sponsor| %>
  <div class="sponsor-box">
    <%= link_to image_tag(sponsor.image_url), sponsor.url %>
    <div class="wrap">
    <h3><%= link_to sponsor.name, sponsor.url %></h3>
    <div class="large"><%= sponsor.slogan %></div>
    <div class="content">
      <%= raw sponsor.description %>
    </div>
    </div>
  </div>
<% end %>
