<div class="box grey center">
  <h2>25 Experts on Love, Dating, Sex and Relationships BUST the Myth</h2>
  <p class="orange big">that Love Is Supposed to Happen By Accident... the Love On Purpose Revolution!</p>
</div>