<h5>Dear Vibrant, Fabulous Friend!</h5>
<p>We&rsquo;re really jazzed that you&rsquo;ve decided to join us for Sexy Younger You!&nbsp;</p>
<p>It&rsquo;s time to stop suffering from O-L-D no matter what your age&hellip;and get the delicious juicy life back that you deserve. <strong>It&rsquo;s your birthright.</strong></p>
<p>Time and time again, we hear the same old story from our patients and clients. You&rsquo;re tired of being told &ldquo;your symptoms are normal&rdquo; or worse, that they&rsquo;re &ldquo;normal for your age.&rdquo; You&rsquo;re tired of feeling ignored. And you&rsquo;re tired of being handed a prescription and still not feeling any better.</p>
<p>Hellooo! Is anybody listening?</p>
<p>There isn&rsquo;t a one-size prescription that fits every woman or man, everywhere, every time. We know you&rsquo;re unique&hellip;and you&rsquo;re a master of reinvention.</p>
<p>You want to feel better and be a rock star but you may not know what the next steps are to get there. That&rsquo;s why we&rsquo;re bringing you <strong>25 of the World&rsquo;s Leading Health and Relationship experts</strong>.</p>
<p>Now we&rsquo;re talkin&rsquo;!</p>
<p>We&rsquo;re here to help you unravel the mysteries to vibrant aging and outrageous health -- one day at a time. You&rsquo;ll learn what to do. What not to do. And how to decide what&rsquo;s right for YOU!</p>
<p><strong>We&lsquo;re on a mission because we weren&rsquo;t always this s3xy!</strong></p>
<p>We&rsquo;re Dr. Anna Cabeca, OB/GYN, Functional Medicine and Age Management Specialist, and Robin Nielsen, Certified Nutrition Consultant and Growing&nbsp;Younger Expert. &nbsp;<strong>We know first hand what it feels like to feel old before your time. </strong></p>
<p>Dr. Anna struggled significantly with her weight, had significant hair loss and was declared permanently infertile with premature ovarian failure. <strong>She found herself in sudden menopause in her 30s.</strong> Through that experience she learned that health does not come on a prescription pad or under a knife. She completely healed herself and was able to have another child.</p>
<p>Dr. Anna takes these health issues very seriously and has become an evangelist for women&rsquo;s health and age management medicine.</p>
<p>Robin struggled with her weight, had asthma and allergies as a child and at times had severe digestive problems. She had acne well into her 30s and arthritic symptoms in her hands that she couldn&rsquo;t get to go away. Robin lived the life of overwhelm and completely exhausted herself, so the journey back to vibrant health took some time. She passed into menopause at 46 and now at 50 continues to feel fabulous!</p>
<p>Robin is also an evangelist for living a luscious life, to feel your best and embrace the life you so deserve. She is passionate about showing you the shortcuts to feeling your most vibrant self.</p>
<h5>We want to share the short cuts with you so you can feel your best right now.</h5>
<p>That&rsquo;s why we&rsquo;ve brought together 25 of the World&rsquo;s Leading Health Experts &ndash; each one of them knows that aging vibrantly no matter what your age is a conscious, intentional process.</p>
<p><strong>According to Dr. Daniel Amen, </strong><strong>"Consciousness is the #1 predictor of longevity." </strong></p>
<p>We invite you to make this Fall a time when you get your s3xy back by immersing yourself in these calls and soaking in all of the combined wisdom of our speakers. &nbsp;You may even feel a little younger after each call!</p>
<p>Bust the lie that 'It's normal for your age" as our world experts give you tips, secrets, and tools to a sexy younger you!</p>
<ul>
<li>Revive your metabolism</li>
<li>Defeat diabetes</li>
<li>Super charge your heart</li>
<li>Jump start your sex life and re-romance your relationship</li>
<li>Get better bones and breasts without the orthopedist and plastic surgeon!</li>
</ul>
<p>and so much more!</p>
<p><strong>You have given yourself the gift of vibrant health just by registering for this event. </strong>You now have FREE access to the live shows each evening at 5pm Pacific, 8pm Eastern, along with the 24 hour replays beginning September 17<sup>th</sup>.</p>
<p>But feeling fabulous doesn&rsquo;t happen overnight. Being conscious around your health is important to aging well. Listening to these calls several times is key to learning the information and giving yourself the time to implement what you&rsquo;ve learned.</p>
<h5>Here&rsquo;s the Solution</h5>
<p>We&rsquo;re offering you a special opportunity to own this program and make it part of your permanent success library. You won&rsquo;t ever have to worry about missing a show and can listen to these transformative recordings over and over to keep you uplifted and focused on your most fabulous self.</p>
<p><strong>Get lifetime access to all of the recordings </strong>so that you can listen to these sessions anytime. You can listen to these recordings <strong>anywhere</strong></p>
<ul>
<li>In your car</li>
<li>In your comfortable chair with a cup of tea and the dog in your lap</li>
<li>On a plane or a train</li>
<li>On your patio</li>
<li>At the gym</li>
<li>While you&rsquo;re making a delicious dinner!</li>
</ul>
<p>You get the idea. You won&rsquo;t want to miss one minute of these valuable calls. Just one nugget of wisdom could change your life, for the better, forever<strong>.</strong></p>
<p><strong>Isn&rsquo;t it time you said YES to improving your health and aging in a vibrant healthy way?</strong></p>
<p>Wishing You Love &amp; Vibrant Health,<br />Robin &amp; Dr. Anna</p>
<p>&nbsp;</p>
<p>P.S.&nbsp;<strong>Exclusive with the Platinum Plus Package </strong>you get access to our <strong>After Party</strong> <strong>Saturdays. </strong>&nbsp;For five weeks at 9am Pacific, 12pm Eastern you&rsquo;ll get the highlights of the week, we&rsquo;ll answer your pressing questions, and maybe have a guest speaker or two from the previous week&rsquo;s sessions!&nbsp;</p>