<div id="slider-background">
  <div class="col-full business">
    <div id="loopedSlider">
      <div class="container" style="height:350px">
        <div class="slides">
          <div id="slide-1" class="slide" style="width:980px;">
            <div class="entry">
              <p></p>
              <center>
                <br>
                <h2>21 Experts on Love, Dating, Sex and Relationships Bust the Myth </h2>
                <h3>That Love Is Supposed to Happen By Accident... the Love On Purpose Revolution!</h3>
                <p></p>
              </center><p></p>
              <div class="twocol-one">
                <%= image_tag "http://placehold.it/600x320" %>
              </div>
              <div class="twocol-one last">
                <a href="<%= events_path %>" class="woo-sc-button  custom xl" style="background:blue;border-color:blue"><span class="woo-">Go To Webcast</span></a>
                <br>
                <small>Next webcast in...</small>
              </div>
            </div>
          </div>
        </div><!-- /.slides -->
      </div><!-- /.container -->
      <a href="#" class="previous"><img src="http://member.wishlistproducts.com/wp-content/themes/canvas/images/btn-prev-slider.png" alt="&lt;"></a>
      <a href="#" class="next"><img src="http://member.wishlistproducts.com/wp-content/themes/canvas/images/btn-next-slider.png" alt="&gt;"></a>
    </div><!-- /#loopedSlider -->
  </div><!-- /#wrapper -->
</div>