<h2 class="subTitle">An Amazing Lineup of 25 Relationship Experts</h2>
<div class="bonusBox">
  <h3>Plus Special Bonus Offers Available Only to Participants</h3>
  <% Speaker.all.each_with_index do |speaker, i| %>
  <% if i % 3 == 0 && i !=0%> <div class="woo-sc-divider"></div>
  <% end %>
  <div class="threecol-one<% if i % 3 == 2 %> last<% end %>">
    <div class="bonusItem">
      <%= link_to_if current_user, image_tag("http://placehold.it/150x225", :class => 'noborder'), speaker %> <h5><%= speaker.name %></h5>
      <p>
        <%= speaker.short_bio %>
      </p>
    </div>
  </div>
  <% end %>
</div>
<div class="woo-sc-divider flat"></div>
<p class="highlighter">
  Don't you think it's time you got the knowledge and advice...
  <br>
  to find the relationship that will give you the love you deserve?
</p>
<div class="woo-sc-hr"></div>