<div class="box center">
    <h2><%= link_to_if current_user, "We'd Like to Thank Our Sponsors", sponsors_path %></h2>
</div>
<div class="row">
  <% Sponsor.all.each_with_index do |sponsor, i| %>
  <div class="col span3 center">
      <%= link_to_if current_user, image_tag(sponsor.image_url), sponsor.url, :target => "_blank" %>
  </div>
  <% end %>
</div>
