<h2 style="color: #818787; text-align: center;">Brought to you by Our Amazing Sponsors</h2>
<div class="clearfix" style="margin-top:16px;">
<% Sponsor.all.each_with_index do |sponsor, i| %>
  <div class="fourcol-one<% if i % 4 == 3 %> last<% end %>">
  <center><%= link_to_if current_user, image_tag(sponsor.image_url), sponsor.url %></center>
  </div>
<% end %>
</div>
