<h2 style="color: #818787; text-align: center;">Brought to you by Our Amazing Sponsors</h2>
<% Sponsor.all.each do |sponsor| %>
  <%= link_to image_tag("http://placehold.it/150x40"), sponsor.url %>
<% end %>