<div class="box center">
<h2 class="title">THANK YOU!</h2>
</div>

<center>
<div class="video">
  <%= embed_video 'q0O2HlRlT00' %>
</div>
</center>

<div class="box center">
<p class="big">
  Go to your email NOW and CLICK the link and you’ll get access to every one of these powerful speakers!<br>Join us every Monday through Friday starting April 16th!
</p>
<br>
<h4>
  <strong>
  Focus on Love, Change Your Life!
  </strong>
</h4>
</div>
