<p><%= @resource.first_name %>,</p>

<p>We're excited you decided to join the Love On Purpose Revolution.  In order to receive all of the details about how to listen to the free Love On Purpose Sessions, we want to be certain we have your permission.</p>

<p>You can confirm your account email through the link below:<br>
<%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Once you click the link, you will be asked to create a password so that you can get complete access to our community.</p> 

<p>Love and Abundance,<br>
Orna and Matthew
</p>