<div id="footer-background">
  <div id="wrapper">
    <div id="footer-widgets" class="col-full col-4">
      <div class="block footer-widget-1">
        <div class="menu-footer-menu-container">
          <ul id="menu-footer-menu" class="menu">
            <li><a href-"#">Page</a></li>
            <li><a href-"#">Page</a></li>
            <li><a href-"#">Page</a></li>
            <li><a href-"#">Page</a></li>
            <li><a href-"#">Page</a></li>
            <li><a href-"#">Page</a></li>
          </ul>
        </div>
      </div>
      <div class="block footer-widget-2">
        <div class="widget widget_wlifooterdetail">
           <p>Col 2</p>
        </div>
      </div>
      <div class="block footer-widget-4">
        <div class="widget widget_wlifooterdetail">
          <p>Col 3</p>
        </div>
      </div>
      <div class="block footer-widget-4">
        <div class="widget widget_wlifooterdetail">
           <p>Col 4</p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-copyright">
    <div id="wrapper">
      <div id="footer" class="col-full">
        <div id="copyright" class="col-left">
          <p>
            © <%= Time.now.year %> Love On Purpose Revolution. All Rights Reserved.
          </p>
        </div>
        <div id="credit" class="col-right"></div>
      </div>
    </div>
  </div>
</div>