<div id="footer">
  <div class="left">
    © <%= Time.now.year %> Juvenescence. All Rights Reserved.
  </div>
  <div class="right">
    <%= link_to 'Sponsors', sponsors_path %>
    <% Page.active.each do |page| %>
    <%= link_to page.title, page_path(page), :target => '_blank' %>
    <% end %>
  </div>
  <div class="note">
    <small>This information on this website has not been evaluated by the FDA and is not intended to treat, diagnose, cure or prevent any disease. This information is not intended as a substitute for the advice or medical care of a qualified health care professional and you should seek the advice of your health care professional before undertaking any dietary or lifestyle changes. The material provided on this website is for educational purposes only.</small>
  </div>
</div>
