<div id="footer">
    <div class="left">
        © <%= Time.now.year %> Moving Light Media, Inc. All Rights Reserved.
    </div>
    <div class="right">
        <% Page.active.each do |page| %>
        <%= link_to page.title, page_path(page), :target => '_blank' %>
        <% end %>
    </div>
</div>
